@inherits LayoutComponentBase

<div class="empty-layout animate-fade-in">
    @Body
</div>

<style>
    .empty-layout {
        min-height: 100vh;
        width: 100%;
        background-color: #020617; /* Slate 950 */
    }
</style>
